<section>
<p>I offer Pride colours as an LGBT+ person, and am exploring sensory aids as a dyspraxic person. Also hopefully some inspiration for others – if I can make sellable items after self-teaching crochet only a couple of months before, there’s hope for others 🙂</p>

<p>So, why the name? Three reasons:</p>
<ol>
    <li><strong>Phoenix:</strong> this is my last name.</li>
    <li><strong>Dragon:</strong> happened while looking for domain names. “Everyone’s using ‘phoenix’, what can I do? Oh wait, I like dragons…”</li>
    <li><strong>Arcade:</strong> as in the little row of shops on the High Street. While working out a plan for my website, I realised I could potentially offer a range of services. The arcade idea lets me be flexible in my offerings.</li>
</ol>
</section>
<section class="mb-5">
<h2>About me</h2>
<a href="{{@BASE}}/ui/img/Outside.jpg" data-toggle="lightbox" data-title="Me playing a character at Regenesis"><img src="{{@BASE}}/ui/img/Outside.jpg" width="450" class="float-right" alt=""></a>
<p>I have just finished a degree in web development, and now make a living crafting things.</p>

<p>My hobbies include gaming of varying kinds (Live Role Play (LARP), tabletop, video and board games), making costume for my LARP characters (see photo), building computers and web apps, and getting far too many business-related ideas.</p>

<p>*Photo taken at a game called Regenesis by camera wizard Tom Garnett. Costume made by me; click the image for a better look.</p>
</section>
<script>
$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox({alwaysShowClose: true});
            });
</script>
