</div>
</main>
<footer class="footer">
	<div class="row">
		<div class="col col-md">
			<h5 class="sr-only">Follow me</h5>
			<div class="social">
				<a href="https://www.etsy.com/uk/shop/PhoenixDragonArcade" data-toggle="tooltip" title="Etsy" target="_blank" class="socicon-etsy social-etsy"><span class="sr-only">Etsy</span></a>
				<a href="https://www.facebook.com/phoenixdragonac" data-toggle="tooltip" title="Facebook" target="_blank" class="socicon-facebook social-fb"><span class="sr-only">Facebook</span></a>
				<a href="https://twitter.com/phoenixdragonac" data-toggle="tooltip" title="Twitter" target="_blank" class="socicon-twitter social-tw"><span class="sr-only">Twitter</span></a>
				<a href="https://plus.google.com/100184493425735019554" data-toggle="tooltip" title="Google Plus" target="_blank" class="socicon-googleplus social-g"><span class="sr-only">Google plus</span></a>
				<a href="https://www.linkedin.com/in/samphoenix" data-toggle="tooltip" title="LinkedIn" target="_blank" class="socicon-linkedin social-li"><span class="sr-only">LinkedIn</span></a>
				<a href="https://github.com/TruthfulTiger" data-toggle="tooltip" title="GitHub" target="_blank" class="socicon-github social-gh"><span class="sr-only">GitHub</span></a>
				<a href="https://www.ravelry.com/people/sammyp79" data-toggle="tooltip" title="Ravelry" target="_blank" class="socicon-ravelry social-ravelry"><span class="sr-only">Ravelry</span></a>
				<a href="https://samshobbyroom.home.blog" data-toggle="tooltip" title="WordPress" target="_blank" class="socicon-wordpress social-wp"><span class="sr-only">WordPress</span></a>
				<a href="https://www.phoenixdragon.co.uk/blog/feed" data-toggle="tooltip" title="RSS" class="socicon-rss social-rss"><span class="sr-only">RSS</span></a>
			</div>
		</div>
		<div class="col col-md">
			<h5 class="sr-only">Other links</h5>
            <ul class="nav justify-content-center">
				<repeat group="{{ @follow }}" key="{{ @fkey }}" value="{{ @item }}">
					<li <check if="{{ @page_head == @item }}">
					<true>
						class="nav-item active"
					</true>
					<false>
						class="nav-item"
					</false>
				</check>>
					<a href="{{@BASE}}{{@fkey}}" <check if="{{ @page_head == @item }}">
					<true>
						class="nav-link active"
					</true>
					<false>
						class="nav-link"
					</false>
				</check>>{{@item}}</a>
					</li>
				</repeat>
    <li class="nav-item"><a class="nav-link" href="https://www.phoenixdragon.co.uk/blog/" target="_blank">Blog</a></li>

				<li class="nav-item"><a class="nav-link iubenda-nostyle iubenda-embed" href="https://www.iubenda.com/privacy-policy/51787836" title="Privacy Policy">Privacy</a></li>
                </ul>
		</div>
		<div class="col col-md text-right">
            <h5 class="sr-only">Copyright notice</h5>
			<small>Phoenix Dragon Arcade &copy; Sam Phoenix
				<check if="{{ @copyyear == 2018}}">
					<true>{{ @copyyear }}.</true>
					<false>2018 - {{ @copyyear }}.</false>
				</check>All rights reserved.</small>
		</div>
	</div>
</footer>
<include href="messages.html" />
<a href="javascript:" id="return-to-top"><i class="fa fa-chevron-up"></i></a>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script src="{{@BASE}}/ui/js/jquery-simple-validator.min.js"></script>
<script src="{{@BASE}}/node_modules/bootstrap-confirmation2/dist/bootstrap-confirmation.js"></script>
<script src="{{@BASE}}/ui/js/scrolling-nav.js"></script>
<script src="{{@BASE}}/ui/js/jquery.easing.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js"></script>
<script>
	$(function () {
  $('[data-toggle="tooltip"]').tooltip()
  });
	$('[data-toggle=confirmation]').confirmation({
		rootSelector: '[data-toggle=confirmation]',
		// other options
	});
</script>
<script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>
<script>
	// ===== Scroll to Top ====
	$(window).scroll(function() {
		if ($(this).scrollTop() >= 50) {        // If page is scrolled more than 50px
			$('#return-to-top').fadeIn(200);    // Fade in the arrow
		} else {
			$('#return-to-top').fadeOut(200);   // Else fade out the arrow
		}
	});
	$('#return-to-top').click(function() {      // When arrow is clicked
		$('body,html').animate({
			scrollTop : 0                       // Scroll to top of body
		}, 500);
	});
</script>
</body>
</html>
