<nav class="navbar navbar-expand-lg navbar-light bg-white" id="mainNav">
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-md-center" id="navbarCollapse">
			<ul class="nav">
				<repeat group="{{ @menu }}" key="{{ @mkey }}" value="{{ @item }}">
					<li class="nav-item">
					<a href="{{ @BASE }}/#{{@mkey}}" class="nav-link js-scroll-trigger">{{@item}} <check if="{{ @page_head == @item }}"><span class="sr-only">(current)</span></check></a>
					</li>
				</repeat>
			</ul>
            <exclude>
            <div class="ec-cart-widget float-right mr-sm-2"></div>
<div>
<script data-cfasync="false" type="text/javascript" src="https://app.ecwid.com/script.js?12612144&data_platform=code&data_date=2018-12-28" charset="utf-8"></script>
<script type="text/javascript">Ecwid.init();</script>
</div>

			<form class="form-inline mt-2 mt-md-0">
				<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
			</form>
    </exclude>
    </div>
</nav>
