<repeat group="{{@rss}}" value="{{@post}}">
    <h3 class="border-top p-2">{{@post.title}}</h3>
    <small class="pl-2">Published {{ '{0,date,long}',strtotime(@post.pubDate) | format }}</small>
<div class="row p-3 mb-4">
        <div class="col-2">
            <a href="{{@post.full}}" data-toggle="lightbox" data-title="{{@post.title}}"><img src="{{@post.image}}" class="float-left" aria-hidden="true"></a>
        </div>
        <div class="col-10">
            <p>{{@post.description}}</p>
            <p><a class="btn btn-primary" href="{{@post.link}}" target="_blank">Read more on blog</a></p>
        </div>
    </div>
</repeat>

<script>
$(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox({alwaysShowClose: true});
            });
</script>
